body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.data-container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px black;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 100px;
}